<h1>Infinite Scroll</h1>

<div class="scroller" data-direction="left" data-speed="fast">
  <div class="scroller__inner" #inner>
    <div>One</div>
    <div>Two</div>
    <div>Three</div>
    <div>Four</div>
    <div>Five</div>
    <div>Six</div>
    <div>Seven</div>
    <div>Eight</div>
  </div>
</div>

<div>
  <h2>Reference</h2>
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=iLmBy-HKIAw" target="_blank">Youtube</a>
    </li>
    <li>
      <a href="https://codepen.io/kevinpowell/pen/BavVLra" target="_blank">CodePen</a>
    </li>
  </ul>
</div>
