<h1>Infinite Scroll</h1>

<!-- <div class="reference">
  <h2>Reference</h2>
  <ul>
    <li>
      <a href="https://webdesign.tutsplus.com/how-to-implement-infinite-scrolling-with-javascript--cms-37055t" target="_blank">Blog</a>
    </li>
  </ul>
</div>

<h2>Demo</h2> -->

<div class="header">
  <div>
    @if(loading()) {
    <p>Loading...</p>
    }
    @else {
    Records: {{posts.length}}
    }
  </div>
  <div>
    <button (click)="reload()">Reload Page</button>
  </div>

</div>

<div class="content">
  <table>
    <thead>
      <tr>
        <td>#</td>
        <td>User ID</td>
        <td>Title</td>
        <td>Body</td>
      </tr>
    </thead>
    <tbody>
      @for(post of posts; track post.id) {
      <tr>
        <td>{{post.id}}</td>
        <td>{{post.userId}}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
      </tr>
      }
    </tbody>
  </table>
  <div #lastRow style="height: 50px;"></div>
</div>





