table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
}

td {
  min-width: 60px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: azure;
}

.header {
  padding: 8px;
  background-color: green;
  color: #fff;
  position: fixed;
  width: 760px;
  bottom: 0;

  display: flex;
  gap: 20px;
  align-items: baseline ;
  justify-content: space-between;
}

