<h1>Infinite Scroll</h1>

<div class="reference">
  <h2>Reference</h2>
  <ul>
    <li>
      <a href="https://webdesign.tutsplus.com/how-to-implement-infinite-scrolling-with-javascript--cms-37055t" target="_blank">Blog</a>
    </li>
  </ul>
</div>

<h2>Demo</h2>


<div style="position: sticky; top: 0;">
  <div class="progress-bar">
    <div class="progress-bar__loaded" [style.width]="loadedPercent"></div>
  </div>
</div>

<div class="container">
  <div class="element" *ngFor="let element of elements"> {{element.id}}. {{element.value}}</div>
</div>
<div class="loading" *ngIf="loading">
  <div class="skeleton"></div>
  <div class="skeleton"></div>
  <div class="skeleton"></div>
</div>



