<h1>Theming</h1>

<button (click)="toggle = !toggle">Switch Theme</button>
<div class="element" [ngClass]="{'element--t1': toggle}">
  <div class="tmargin">
    <div class="tborder">
      <div class="tpadding">
        <div class="tcontent"></div>
      </div>
    </div>
  </div>
</div>

<div class="reference">
  <h2>Reference</h2>
  <ul>
    <li>
      <a href="https://codepen.io/kevinpowell/pen/MWXybWJ" target="_blank">Codepen</a>
    </li>
    <li>
      <a href="https://dev.to/this-is-angular/how-to-theme-components-in-angular-2c9h" target="_blank">Dev Community</a>
    </li>
    <li>
      <a href="https://medium.com/@rennan_martini/how-to-create-themes-for-your-angular-apps-using-css-20ae25d34ebc" target="_blank">Medium</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=fyuao3G-2qg" target="_blank">Youtube</a>
    </li>
  </ul>
</div>
