<header>
  <div class="menu">Systems Design</div>
</header>


<main>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Infinite Scroll Carousel- CSS</a>
      </li>
      <li>
        <a routerLink="/tooltip">Tooltip</a>
      </li>
      <li>
        <a routerLink="/typeahead">Typeahead</a>
      </li>
      <li>
        <a routerLink="/theming">Theming</a>
      </li>
      <li>
        <a routerLink="/typing">Typing</a>
      </li>
      <li>
        <a routerLink="/wysiwyg">WYSIWYG Editor</a>
      </li>
      <li>
        <a routerLink="/infinte-scroll">Infinte Scroll</a>
      </li>
    </ul>
  </nav>

  <div role="main">
    <router-outlet></router-outlet>
  </div>
</main>
