<header>
  <nav>
    <ul class="menu">
      <li  *ngFor="let menu of menuItems" class="menu__item">
        <a routerLink="/{{menu.path}}">{{menu.label}}</a>
        <ng-container *ngIf="menu.submenu?.length">
          <ul class="submenu">
            <li *ngFor="let submenu of menu.submenu" class="submenu__item">
              <a routerLink="{{submenu.path}}">{{submenu.label}}</a>
            </li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </nav>
</header>

 <main>
  <router-outlet></router-outlet>
</main>
