<h1> CSS Counter </h1>

<ul class="menu">
  <li class="menu__item">One</li>
  <li class="menu__item">Two</li>
  <li class="menu__item">
    <span>Three</span>
    <ul class="submenu">
      <li class="submenu__item">One</li>
      <li class="submenu__item">Two</li>
      <li class="submenu__item">Three</li>
      <li class="submenu__item">Four</li>
    </ul>
  </li>
  <li class="menu__item">
    <span>Four</span>
    <ul class="submenu">
      <li class="submenu__item">One</li>
      <li class="submenu__item">Two</li>
      <li class="submenu__item">Three</li>
      <li class="submenu__item">Four</li>
    </ul>
  </li>
</ul>
