<nav>
  <div class="menu">
    <button>Home</button>
    <div class="submenu">
      <div class="submenu__items">Menu 1</div>
      <div class="submenu__items">Menu 2</div>
      <div class="submenu__items">Menu 3</div>
      <div class="submenu__items">Menu 4</div>
    </div>
  </div>
  <div class="menu">
    <button>About</button>
    <div class="submenu">
      <div class="submenu__items">About 1</div>
      <div class="submenu__items">About 2</div>
      <div class="submenu__items">About 3</div>
      <div class="submenu__items">About 4</div>
    </div>
  </div>
  <div class="menu">
    <button>Products</button>
    <div class="submenu">
      <div class="submenu__items">Product 1</div>
      <div class="submenu__items">Product 2</div>
      <div class="submenu__items">Product 3</div>
      <div class="submenu__items">Product 4</div>
    </div>
  </div>
</nav>
