<h1>Accordian</h1>
<ul class="accrodian">
  <li class="accrodian__item">
    <div class="title">
      <label for="panel1">Title 1</label>
      <input type="radio" id="panel1" name="accrodian">
    </div>
    <div class="content">
      <p>Content for first panel</p>
    </div>
  </li>

  <li class="accrodian__item">
    <div class="title">
      <label for="panel2">Title 2</label>
      <input type="radio" id="panel2" name="accrodian">
    </div>
    <div class="content">
      <p>Content for second panel</p>
    </div>
  </li>

  <li class="accrodian__item">
    <div class="title">
      <label for="panel3">Title 3</label>
      <input type="radio" id="panel3" name="accrodian">
    </div>
    <div class="content">
      <p>Content for third panel</p>
    </div>
  </li>
</ul>
