.toast {
  position: fixed;
  top: 80px;
  right: 10px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: all 3s;

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(-5%);
  }
}
