.container {
  height: 500px;
  width: 300px;
  border: 1px solid black;

  .chat-area {
    height: calc(100% - 50px);
    border-bottom: 1px solid black;
    padding: 5px;
    overflow-y: auto;
    .message {
      width: 250px;
      padding: 10px;
      background-color: aqua;
      border-radius: 5px;
      margin: 10px;

      &--client {
        background-color: rgb(131 193 131);;
        margin-left: 35px;
      }
    }
  }

  .send-message {
    // height: 30px;
    display: flex;
    justify-content: center;
    input {
      padding: 5px;
      margin: 9px 5px;
      width: calc(100% - 25px)
    }
  }
}

.info-text {
  font-weight: 500;
  margin-bottom: 10px;
  background-color: yellow;
  width: fit-content;
}
